[run]
source =
    jetgp

omit =
    */build_static.py
    */cmod_writer.py

[report]
omit =
    */build_static.py
    */cmod_writer.py

exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    if __name__ == "__main__":